.btn-custom {
  border-radius: 0 !important;
  -webkit-box-shadow: 4px 4px 0px 0px #FCE38A !important;
  -moz-box-shadow: 4px 4px 0px 0px #FCE38A !important;
  box-shadow: 4px 4px 0px 0px #FCE38A !important;
}

.card-custom {
  border-radius: 0 !important;
  background-color: #F4F4F4 !important;
  -webkit-box-shadow: 4px 4px 0px 0px #0A4472 !important;
  -moz-box-shadow: 4px 4px 0px 0px #0A4472 !important;
  box-shadow: 4px 4px 0px 0px #0A4472 !important;
}
